@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(141, 20, 20, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 5px;
  }

#main {
    height: 100vh;
    background-color: rgb(62, 61, 62);
}

#h1 {
    height: 15vh;
    background-color: aquamarine;
    display: flex;
}

#h1 #logo {
    height: 50px;
    width: 60%;
    font-size: 50px;
    padding-left: 115px;
    padding-top: 20px;
}

#logo a {
    text-decoration: none;
    color: black;
}

#h1 #lgn {
    text-align: center;
}

#mark {
    background-color: cadetblue;
    padding-top: 5px;
    height: 25px;
}

#box {
    background-color: rgb(62, 61, 62);
    height: auto;
    margin-top: 15px;
    padding-bottom: 50px;
}

#box div {
    height: 210px;
    width: 80%;
    background-color: rgb(232, 232, 232);
    margin: auto;
    border-radius: 90px;
    margin-top: 15px;
    padding-top:155px;
    font-size: 50px;
    font-weight:bold;
    padding-left: 20px;
}

#lgn button {
    margin: auto;
    width: 100px;
    margin-right: 15px;
    height: 40px;
    border-radius: 39px;
    cursor: pointer;
}

#lgn {
    margin-left: 100px;
    margin-top: 26px;
}

#extra {
    height: auto;
    width: 100%;
    background-color: mediumturquoise;
}

#extra div{
    float: left;
    width: 33.33%;
    background-color: rgba(255, 105, 180 , 0.6);
    text-align: center;
    height: 150px;
}
